// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary-color: #07488D;
$secondry-color: #3498DB;
$black-color: #000000;
$text-color: #333333;
$border-color: #ABABAB;
$Subtle-Text: #707070;
$white-color: #FFFFFF;
$success-color: #28A745;
$bg-color: #f4f5f8;

:root {
  --ion-color-primary: #07488D;
  --ion-color-secondary: #3498DB;
  --ion-color-success: #28A745;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #bb4b72;
  --ion-bg-color: #E6F1FF;
  --ion-text-color: #333333;
  --ion-border-color: #ABABAB;
  --ion-subtle-text: #707070;
  --ion-white-color: #FFFFFF;
}



@mixin font-bold {
    font-weight: 600;
    letter-spacing: 0.2px;
}  
@mixin font-normal {
    font-weight: 400;
    letter-spacing: 0.2px;
} 

@mixin page-header {
    font-size: 32px;
    line-height: 26px;
    @include font-bold();
}
@mixin page-header-title {
    font-size: 28px;
    line-height: 24px;
    @include font-bold();
}

@mixin card-header {
    font-size: 24px;
    line-height: 22px;
    @include font-bold();
}

@mixin card-header-title {
    font-size: 20px;
    line-height: 20px;
    @include font-bold();
}


@mixin card-sub-title {
    font-size: 18px;
    line-height: 20px;
    @include font-bold();
}
@mixin text-style-normal {
    font-size: 16px;
    line-height: 20px;
    @include font-normal();
}
@mixin text-style-bold {
    font-size: 16px;
    line-height: 20px;
    @include font-bold();
}
@mixin body-text {
    font-size: 12px;
    line-height: 16px;    
    @include font-normal();
}

@mixin text-bold {
    @include body-text();
    @include font-bold();
}

@mixin normal-text {
    font-size: 14px;
    line-height: 19px;    
    @include font-bold();
}
@mixin normal-text-unbold {
    font-size: 14px;
    line-height: 19px;    
    @include font-normal();
}

body{
  color: #333333;
}

@mixin scroll-style {
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 0px;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ABABAB;
      border-radius: 31px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }